@*a*@
@{
    ViewBag.Title = "gioithieu";
    Layout = "~/Views/Shared/Mylayout.cshtml";
}

<h2 style="font-family: Berlin Sans FB Demi; text-align:center; color: red; ">BOOKSTORE</h2>

<div style="font-size: 25px; text-align: center;">Địa chỉ : 475A Điện Biên Phủ Phường 25 Quận Bình Thạnh TP.HCM</div>
<div style="font-size: 25px; text-align: center;">Điện thoại:08 33433 34334 - 08 2343 3434 - 1900 9201 (27/7)</div>
<div style="font-size: 25px; text-align: center;">Email: WEBSITEBANSACH@gmail.com</div>
<a style="font-size: 30px;" href=" /Home/WebsiteBanSach">
    <span  class="glyphicon glyphicon-star-empty"> Xem sản phẩm</span>
</a>

<div >

    
    <img src="~/hinhanh/banner-top-2s.jpg" width="400px" height="250px" />
    <img src="~/hinhanh/sach-hay-phai-dep-giam-den-40-tiki-banner.jpg" width="450px" height="250px" />
   
</div>