
@{
    ViewBag.Title = "giaohang";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h2 style="color:red">GIAO HÀNG & ĐỔI TRẢ</h2><br />

<div style="margin-left:2%">
    CHÍNH SÁCH GIAO HÀNG TẠI BOOKSTORE<br />
    BOOKSTORE  luôn hướng đến việc vận chuyển tốt nhất cho tất cả các đơn hàng mà quý khách đặt với chúng tôi.<br />
    <div style="margin-left:10%">
      
        <img src="~/hinhanh/hoat-dong-van-tai-can-luu-y-gi.jpg" />
    </div>
    Chính sách giao hàng của BOOKSTORE như thế nào?<br />

    Hiện tại,  BOOKSTORE hỗ trợ giao hàng trên toàn quốc với chính sách giao hàng cụ thể như sau:<br />

    Miễn phí giao hàng (*Các hóa đơn trên 2.000.000đ)<br />
    Thỏa thích mua sắm tại  BOOKSTORE với Chính sách Miễn phí giao hàng tận nơi khu vực nội thành TP.HCM.<br />

    Với phạm vi ngoại thành, nhân viên giao nhận sẽ tư vấn chi tiết cho quý khách về cách thức giao nhận thuận tiện nhất cũng như biểu phí dịch vụ hợp lý nhất.<br />

    *Lưu ý: Khi hàng được chuyển giao đến quý khách, xin vui lòng hoàn tất việc thanh toán và ký xác nhận với nhân viên giao hàng trước, sau đó quý khách vui lòng kiểm tra sản phẩm có bất kỳ lỗi hay khiếm khuyết nào không. Nếu có thì xin vui lòng giữ lại biên lai vận chuyển để kiểm tra lại.
    <br />


    COD - Giao hàng và thanh toán tại nhà<br />
    <h3 style="color:red">*Lưu ý:</h3><br />

    - Áp dụng tại khu vực TPHCM<br />

    - Khu vực ngoại thành: chỉ áp dụng cho các đơn hàng dưới 5,000,000 đ<br />



    Giao hàng toàn quốc - 63 Tỉnh thành<br />
    Đối tác giao nhận của  BOOKSTORE nhận giao hàng khắp 63 tỉnh thành trên toàn quốc.<br />

    Sau khi quý khách đã đặt hàng online thành công, đội ngũ Chăm sóc khách hàng của chúng tôi sẽ tiến hành xác minh đơn hàng, đồng thời gởi thông tin cập nhật sớm nhất đến quý khách qua email và điện thoại. Sau quá trình xác minh thành công, đơn hàng sẽ được giao đến quý khách thông qua đối tác giao nhận.<br />

</div>


