@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="col-sm-5 col-sm-offset-2">
    <div class="panel panel-danger">
        <div class="panel-heading" style="text-align:center">

            <span class="glyphicon glyphicon-user"></span> <span></span> ĐĂNG NHẬP
        </div>
        <div class="panel-body">

            <h1>@ViewBag.ThongBao</h1>
            @using (Html.BeginForm())
            {
                <div class="col-sm-5 col-sm-offset-2">
                    <div class="form-group">
                        <label>Tài Khoản:</label>
                        <br />

                        @Html.TextBox("txtTaiKhoan")

                    </div>
                </div>
                <br />
                <div class="col-sm-5 col-sm-offset-2">
                    <div class="form-group">
                        <label>Mật Khẩu:</label><br />
                        <input name="txtMatKhau" type="password" />

                    </div>
                </div>
                <br />
                <div class="col-sm-5 col-sm-offset-2">
                    <div class="form-group" style="text-align:center">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-log-in"></span> ĐĂNG NHẬP
                        </button>
                    </div>
                </div>

            }
        </div>
        <div class="panel panel-danger"></div>
    </div>
</div>


