<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="QLBSEntities" connectionString="metadata=res://*/Models.QLBS.csdl|res://*/Models.QLBS.ssdl|res://*/Models.QLBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=QLBS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLBANSACHEntities" connectionString="metadata=res://*/Models.QLBS.csdl|res://*/Models.QLBS.ssdl|res://*/Models.QLBS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=QLBANSACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BANSACHEntities" connectionString="metadata=&quot;res://*/Models.BANSACH .csdl|res://*/Models.BANSACH .ssdl|res://*/Models.BANSACH .msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=BANSACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BANSACHEntities1" connectionString="metadata=&quot;res://*/Models.BANSACH .csdl|res://*/Models.BANSACH .ssdl|res://*/Models.BANSACH .msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=BANSACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BANSACHEntities2" connectionString="metadata=res://*/Models.SACH.csdl|res://*/Models.SACH.ssdl|res://*/Models.SACH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=BANSACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BANSACHEntities3" connectionString="metadata=&quot;res://*/Models.BANSACH .csdl|res://*/Models.BANSACH .ssdl|res://*/Models.BANSACH .msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=BANSACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BANSACHEntities4" connectionString="metadata=&quot;res://*/Models.BANSACH .csdl|res://*/Models.BANSACH .ssdl|res://*/Models.BANSACH .msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=BANSACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BANSACHEntities5" connectionString="metadata=res://*/Models.Bansach.csdl|res://*/Models.Bansach.ssdl|res://*/Models.Bansach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=BANSACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BANSACHEntities6" connectionString="metadata=&quot;res://*/Models.BANSach .csdl|res://*/Models.BANSach .ssdl|res://*/Models.BANSach .msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=BANSACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BANSACHEntities7" connectionString="metadata=res://*/Models.Sach.csdl|res://*/Models.Sach.ssdl|res://*/Models.Sach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=BANSACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BANSACHEntities8" connectionString="metadata=res://*/Models.sach1.csdl|res://*/Models.sach1.ssdl|res://*/Models.sach1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=BANSACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BANSACHEntities9" connectionString="metadata=res://*/Models.bansach.csdl|res://*/Models.bansach.ssdl|res://*/Models.bansach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-588HNG8\SQLEXPRESS;initial catalog=BANSACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BANSACHEntities10" connectionString="metadata=res://*/Models.bansach.csdl|res://*/Models.bansach.ssdl|res://*/Models.bansach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-588HNG8\SQLEXPRESS;initial catalog=BANSACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BANSACHEntities11" connectionString="metadata=&quot;res://*/Models.Bansach .csdl|res://*/Models.Bansach .ssdl|res://*/Models.Bansach .msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=BANSACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BANSACHEntities12" connectionString="metadata=res://*/Models.sach.csdl|res://*/Models.sach.ssdl|res://*/Models.sach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=BANSACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SACHEntities" connectionString="metadata=res://*/Models.BANSACH.csdl|res://*/Models.BANSACH.ssdl|res://*/Models.BANSACH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=SACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SACHEntities1" connectionString="metadata=res://*/Models.sach.csdl|res://*/Models.sach.ssdl|res://*/Models.sach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=SACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SACHEntities2" connectionString="metadata=res://*/Models.SACH.csdl|res://*/Models.SACH.ssdl|res://*/Models.SACH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=SACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SACHEntities3" connectionString="metadata=res://*/Models.Sach.csdl|res://*/Models.Sach.ssdl|res://*/Models.Sach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=SACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SACHEntities4" connectionString="metadata=&quot;res://*/Models.BANSACH .csdl|res://*/Models.BANSACH .ssdl|res://*/Models.BANSACH .msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=SACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SACHEntities5" connectionString="metadata=res://*/Models.Sach.csdl|res://*/Models.Sach.ssdl|res://*/Models.Sach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=SACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SACHEntities6" connectionString="metadata=res://*/Models.sach.csdl|res://*/Models.sach.ssdl|res://*/Models.sach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=SACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SACHEntities7" connectionString="metadata=res://*/Models.sach.csdl|res://*/Models.sach.ssdl|res://*/Models.sach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=SACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SACHEntities8" connectionString="metadata=res://*/Models.sach.csdl|res://*/Models.sach.ssdl|res://*/Models.sach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=SACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SACHEntities9" connectionString="metadata=res://*/Models.Sach.csdl|res://*/Models.Sach.ssdl|res://*/Models.Sach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=SACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SACHEntities10" connectionString="metadata=res://*/Models.sach.csdl|res://*/Models.sach.ssdl|res://*/Models.sach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=SACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SACHEntities11" connectionString="metadata=&quot;res://*/Models.BANSACH .csdl|res://*/Models.BANSACH .ssdl|res://*/Models.BANSACH .msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=SACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SACHEntities12" connectionString="metadata=res://*/Models.sACH.csdl|res://*/Models.sACH.ssdl|res://*/Models.sACH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=SACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SACHEntities13" connectionString="metadata=res://*/Models.sach.csdl|res://*/Models.sach.ssdl|res://*/Models.sach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\SQLEXPRESS;initial catalog=SACH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>